PORT=5000
NODE_ENV=development

# PostgreSQL Database Connection String (Neon / PostgreSQL)
DATABASE_URL="postgresql://username:password@ep-example.us-east-1.aws.neon.tech/neondb?sslmode=require"

# JWT Auth Secrets
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="7d"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key_here"
JWT_REFRESH_EXPIRES_IN="30d"

# Optional Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Optional Email Config
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
EMAIL_FROM="Gifto Delivery <noreply@gifto.pk>"
